@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

h1{
    font-weight: 600;
}

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --grey-color: #b2b2b2;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5rem;
    background-color: var(--primary-color);
    /* box-shadow: 0 3px 12px var(--grey-color); */
    font-size: 1.2rem;
}

.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.navItems li{
    list-style: none;
    
}

.navItems a{
    text-decoration: none;
    color: var(--secondary-color);
}

.navItems a.active{
    border-bottom: 3px solid var(--secondary-color);
}

.contact a{
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 14px 22px;
}

.contact1{
    
    display: none;
}

.contact1 a{
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 14px 22px;
    
}

#homeSection{
    text-align: center;
    width: 70%;
    margin: 9rem auto 3rem auto;
}

#caseSection{
    text-align: center;
    width: 70%;
    margin: 3rem auto;
}

#homeSection h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#caseSection h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#homeSection p{
    font-size: 22px;
    line-height: 38px;
    width: 65%;
    margin:  0 auto;
}

#caseSection p{
    font-size: 18px;
    width: 95%;
    margin:  0 auto;
}

#socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#socialLinks > a{
    font-size: 40px;
    font-weight:lighter;
    text-decoration: none;
    color: var(--secondary-color);
}

.tradeMark{
    color: var(--grey-color);
    margin: 2rem 4.7rem;
    font-size: 14px;
}

.case1{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/images/case1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 55vh;
    width: 90%;
    margin: 1rem auto;
}

.case2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/images/case2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 55vh;
    width: 90%;
    margin: 2rem auto;
}

.case3{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/images/case3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 55vh;
    width: 90%;
    margin: 1rem auto 2rem;
}

.caseTexts{
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 38%;
    background-color: var(--primary-color);
    padding: 1.5rem;
}

.caseTexts h3{
    margin-bottom: .5rem;
}

.caseTexts p{
    font-size: 14px;
}

#caseImages a{
    text-decoration: none;
    color: var(--secondary-color);
}

#caseSocialLinks, #aboutSocialLinks{
    margin: 3rem 0 0 4.2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
}


#caseSocialLinks > a, #aboutSocialLinks > a{
    font-size: 25px;
    font-weight:lighter;
    text-decoration: none;
    color: var(--secondary-color);
}

.caseTradeMark{
    color: var(--grey-color);
    margin: 0.2rem 4.2rem;
    font-size: 14px;
}

.chat{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 56%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    font-size: 22px;
}

#aboutMeSection, #contactMeSection{
    padding: 1.5rem 7rem 0;
}

.aboutHeaderText{
    margin-bottom: 1rem;
    font-size: 2.3rem;
}

.aboutContent{
    display: flex;
    color: #4D4D4D;
    font-size: 1.1rem;
}

.contactContent{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.aboutContent p, .contactContent p{
    margin-bottom: 1.2rem;
}

.about-text, .contactInput {
    margin-right: 7rem;
}

.about-img, .about-img2{
    text-align: center;
    display: grid;
}

.about-img2{
    display: none;
    margin-top: 4rem;
}

.imgDiv{
    position: relative;
}

.overLay{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    top: 0;
}

.downloadCvBtn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 0 10px 0;
    margin: 10px 0;
}

.viewCvBtn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 0 10px 0;
    box-shadow: 1px 1px 12px var(--grey-color);
}

.aboutLists h1, .toolsLists h1, .experience h1{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.aboutLists p, .toolsLists p{
    font-size: 18px;
    margin-bottom: 5px;
}

.toolsLists{
    margin-top: 2rem;
}

.experience{
    margin-top: 7rem;
}

.experience h2{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.experience ul{
    color: #4D4D4D;
    margin-left: 1.5rem;
}

.experience ul li{
    margin-top: 1rem;
}

.aboutExpandEdu{
    margin-top: -10%;
}

.contactInput form{
    display: grid;
}

.contactInput form div{
    margin: 1rem 0;
}

label, input{
    display: block;
}

label{
    color: var(--grey-color);
}

input{
    width: 700px;
    height: 40px;
    border: 1px solid #b2b2b2;
    padding-left: 10px;
    font-size: 18px;
}

textarea{
    width: 700px;
    border: 1px solid #b2b2b2;
    padding-left: 10px;
    font-size: 18px;
}

input:focus, textarea:focus{
    outline: #b2b2b2;
}

.sendMessageBtn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    height: 100%;
    margin: 10px 0;
    width: 30%;
}

@media screen and (max-width:1440px) {

    .aboutExpandEdu{
        margin-top: 0%;
    }

    .contactInput {
        margin-right: 2.8rem;
    }

    input, textarea{
        width: 550px;
    }
}

@media screen and (max-width:992px) {

    .navbar{
        box-shadow: 0 3px 12px var(--grey-color);
        flex-direction: column;
        gap: 30px;
    }

    .navItems{
        width: 100%;
    }
    .contact{
        display: none;
    }
    .contact1{
        display: block;
        margin: 3rem 0;
    }

    #homeSection{
        width: 90%;
    }

    #homeSection h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    #homeSection p{
        width: 80%;
        font-size: 18px;
    }

    #aboutMeSection, #contactMeSection{
        padding: 1.5rem 3rem 0;
    }

    .aboutExpandEdu{
        margin-top: 3%;
    }

    .about-img{
        display: none;
    }

    .about-img2{
        display: block;
        width: 100%;
    }

    .about-img2 img{
        width: 100%;
    }

    .cvBtns{
        display: flex;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        gap: 1rem;
    }

    .downloadCvBtn2{
        background-color: var(--secondary-color);
        color: var(--primary-color);
        text-decoration: none;
        padding: 16px 0 16px 0;
        margin: 10px 0;
        width: 100%;
    }
    
    .viewCvBtn2{

        background-color: var(--primary-color);
        color: var(--secondary-color);
        box-shadow: 1px 1px 12px var(--grey-color);
        text-decoration: none;
        padding: 16px 0 16px 0;
        margin: 10px 0;
        width: 100%;
    }

    .imgDiv2{
        position: relative;
        overflow: hidden;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .overLay2{
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        width: 100%;
        left: 0;
        height: 99%;
        top: 0;
    }
}

@media screen and (max-width:778px) {

    .navbar{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navItems .case{
        margin: 0 3rem;
    }
    
    #homeSection{
        margin-top: 5rem;
    }
    #homeSection h1{
        font-size: 2rem;
    }

    #homeSection p{
        width: 85%;
    }
    .navItems{
        gap: 25px;
        font-size: 1rem;
    }

    .tradeMark{
        text-align: center;
    }
    #socialLinks{
        gap: 25px;
        font-size: 12px;
    }

    #socialLinks > a{
        font-size: 30px;
    }

    .about-text, .contactInput{
        margin-right: 0;
    }

    .aboutFooter, .caseFooter{
        display: grid;
        place-content: center;
        place-items: center;
        padding-bottom: 20px;
        text-align: center;
    }

    #caseSocialLinks, #aboutSocialLinks{
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .aboutFooter .chat, .caseFooter .chat{
        top: 10%;
    }

    input, textarea{
        width: 400px;
    }

    .sendMessageBtn{
        width: 50%;
    }

    .aboutHeaderText{
        font-size: 2rem;
    }

}

@media screen and (max-width:384px) {
    #homeSection h1{
        font-size: 1.8rem;
    }
    .navItems .case{
        margin: 0;
    }

    input, textarea{
        width: 280px;
    }

    .sendMessageBtn{
        width: 70%;
    }
}
